name: stat159-env
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip


  - jupyterlab
  - ipython
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - statsmodels
  - scikit-learn
  - make
